/* Add a black background color to the top navigation */
.topnav {
    background-color: #172944;
    overflow: hidden;
}

  /* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

  /* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

  /* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}


.cardpred {
  box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.2);
  transition: 0.3s;
  height: 40%;
  width: 30%;
  left: 45%;
  top: 68%;
  margin-left: -35%;
  border-radius: 5px;
  position: fixed;
  margin-top: -20%;
  background-color: rgb(173, 164, 161);
  color: rgba(14, 7, 112, 0.973);
}

#dvPreview
{
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=image);
    min-height: 400px;
    min-width: 400px;
    display: none;
}


